/******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
.contact {
  &__header-text {
    margin-top: 8px;
    text-align: center;
  }
}